
@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}



body {
  background-color: #F1F1F1;
  font-family: Arial, sans-serif;
  color: #333;
}

h1#title {
  color: #2E8B57;
  text-align: center;
}

#info {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  border: 2px solid #2E8B57;
  background-color: #FFFFFF;
}

#info a {
  color: #2E8B57;
}

form {
  text-align: center;
  margin-top: 50px;
}

input[type=text] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #2E8B57;
}

button.btn {
  background-color: #2E8B57;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button.btn:hover {
  background-color: #228B22;
}

p {

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;

}
